body{
    background-color: black;
}
header{
    margin-top: 30px;
    text-align: center;
    color: palevioletred;
    font-family: 'Balsamiq Sans', cursive;
}


#banner{
    width: 800px;
    height:250px;
    margin: auto;
    margin-top: 30px;
    position: relative;
   
}
#cir1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: mediumslateblue;
    position: absolute;
    bottom: 20px;
    left: 30px;
    animation: tran 3s infinite 0s;
}
#cir2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: plum;
    position: absolute;
    bottom: 140px;
    left: 130px;
    animation: tran 3s infinite 1s;
}
#cir3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orchid;
    position: absolute;
    bottom: 80px;
    left: 720px;
    animation: tran 3s infinite 5s;
}

#cir4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(67, 75, 190);
    position: absolute;
    bottom: 150px;
    left: 580px;
    animation: tran 3s infinite 2s;
}

#cir5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(222, 153, 228);
    position: absolute;
    bottom: 180px;
    left: 10px;
    animation: tran 3s infinite 3s;
}
#cir6 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(170, 162, 238);
    position: absolute;
    bottom: 200px;
    left: 180px;
    animation: tran 3s infinite 6s;
}
#cir7 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: plum;
    position: absolute;
    bottom: 110px;
    left: 270px;
    animation: tran 3s infinite 2s;
}
#cir8 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(170, 162, 238);
    position: absolute;
    bottom: 40px;
    left: 190px;
    animation: tran 3s infinite 7s;
}
#cir9 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(170, 162, 238);
    position: absolute;
    bottom: 180px;
    left: 370px;
    animation: tran 3s infinite 0s;
}
#cir10 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(222, 153, 228);
    position: absolute;
    bottom: 30px;
    left: 360px;
    animation: tran 3s infinite 4s;
}
#cir11 {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: rgb(170, 162, 238);
    position: absolute;
    bottom: 70px;
    left: 430px;
    animation: tran 3s infinite 10s;
}
#cir11 {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: rgb(222, 153, 228);
    position: absolute;
    bottom: 70px;
    left: 430px;
    animation: tran 3s infinite 5s;
}
#cir12 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(170, 162, 238);
    position: absolute;
    bottom: 20px;
    left: 530px;
    animation: tran 3s infinite 7s;
}
#cir13 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(222, 153, 228);
    position: absolute;
    bottom: 170px;
    left: 500px;
    animation: tran 3s infinite 20s;
}
#cir14 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: plum;
    position: absolute;
    bottom: 200px;
    left: 730px;
    animation: tran 3s infinite 15s;
}
#cir15 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: plum;
    position: absolute;
    bottom: 80px;
    left: 580px;
    animation: tran 3s infinite 18s;
}
#cir16 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: plum;
    position: absolute;
    bottom: 20px;
    left: 650px;
    animation: tran 3s infinite 9s;
}





main{
        width: 800px;
        margin: auto;
        margin-top: 30px;
        display:flex;
        
}
main h2{
    padding-left: 10px;
    font-family: 'Balsamiq Sans', cursive;
    margin-bottom: 1px;
}

section{
    width: 240px;
    margin: 10px;
    margin-top: 40px;
    border-style: dashed;
    border-color: lightcyan;
    border-radius: 4%;
    background-color: lightpink;
}

ul{
    margin-top: 5px;

}
ul li{
    list-style-type: none;
    font-size: 18px;
    font-family: 'Yusei Magic', sans-serif;
    padding: 5px;
}


a{
    text-decoration: none;
    color:darkslateblue;
}
ul li a:hover{
    color:white
}
footer{
    width: 800px;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
}
footer a{
    color: white;
}
.circle{
    transition: all .5s;
    cursor: pointer;
}
.circle:hover{
    transform: scale(1.3);
    box-shadow: 0px 0px 5px 8px rgba(255,255,255,.2);
}
@keyframes tran{
    0%{
        opacity: .4;
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
     main{
      display: block;
     }
      section{
          margin-left: 120px;
      }
     footer{
         margin-left: 80px;
         text-align: left;
     }
}